<ul>
    <li><a routerLinkActive='active' routerLink='form'>Registration</a></li>
    <li><a routerLinkActive='active' routerLink='employeeChart'>Employees</a></li>
    <li><a routerLinkActive='active' routerLink='register'>Employee Register</a></li>
    <li><a routerLinkActive='active' routerLink='employee'>Employee</a></li>
    <li><a routerLinkActive='active' routerLink='currency'>Currency Exchange</a></li>
    <li *ngIf='!log' style="float:right"><a routerLinkActive='active' routerLink='login'>Login</a></li>
    <li *ngIf='log' style="float:right"><a routerLinkActive='active' routerLink='login' (click)='logOut()'>LogOut</a></li>
    <li *ngIf='log' style="float:right"><a routerLinkActive='active' routerLink='users'>Users</a></li>
</ul>