* {
    margin: 0px;
}

button {
    width: 100%;
    background-color: rgba(184, 3, 3, 0.898);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}

@mixin text-style($color, $size) {
    color: $color;
    font-size: $size;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-style {
    @include text-style(rgba(184, 3, 3, 0.898), 20px);
}

.texts {
    @include text-style(red, 11px);
}

.red {
    background-color: red;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 50px;
    header {
        width: 100%;
        background-color: rgba(184, 3, 3, 0.898);
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        h1 {
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        label {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        input {
            width: 100%;
            padding: 5px 18px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type="checkbox"] {
            width: auto;
            padding: 0px;
            margin: 0px 8px 0 0;
        }
    }
}

.userList {
    border: 2px solid rgba(184, 3, 3, 0.898);
    height: 100%;
    width: 90%;
    margin: auto;
    .information {
        display: flex;
        flex-direction: column;
    }
    .users {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(184, 3, 3, 0.898);
        padding: 10px 0;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }
}