<div class="form">
    <header>
        <h1>REGISTRATION</h1>
    </header>

    <form id="form1" [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>
      E-mail:
      <input class=".input" type="email" formControlName="email" />
    </label>
        <div *ngIf='form.get("email").invalid && form.get("email").touched'>
            <div class="texts" *ngIf='form.get("email").errors.required'>EMAIL FIELD MUST NOT BE EMPTY</div>
            <div class="texts" *ngIf='form.get("email").errors.email'>EMAIL MUST FOLLOW PATTERN</div>
        </div>
        <div formGroupName="passGroup">
            <label>
        Password:
        <input class=".input" type="password" formControlName="password" />
      </label>
            <div *ngIf='form.get("passGroup").get("password").invalid && form.get("passGroup").get("password").touched'>
                <div class="texts" *ngIf='form.get("passGroup").get("password").errors.required'>PASSWORD FIELD MUST NOT BE EMPTY</div>
                <div class="texts" *ngIf='form.get("passGroup").get("password").errors.minlength'>PASSWORD MUST BE MORE THAN 8 CHARACTERS</div>
                <div class="texts" *ngIf='form.get("passGroup").get("confPassword").errors.pattern'>PASSWORDS FIELD MUST FOLLOW PATTERN</div>
            </div>
            <label>
        Confirm Password:
        <input class=".input" type="password" formControlName="confPassword" />
      </label>
            <div *ngIf='form.get("passGroup").get("confPassword").invalid && form.get("passGroup").get("confPassword").touched'>
                <div class="texts" *ngIf='form.get("passGroup").get("confPassword").errors.required'>CONFIRM PASSWORD FIELD MUST NOT BE EMPTY</div>

            </div>
        </div>
        <label>
      Nickname:
      <input class=".input" type="text" formControlName="nickname" />
    </label>
        <div *ngIf='form.get("nickname").invalid && form.get("nickname").touched'>
            <div class="texts" *ngIf='form.get("nickname").errors.required'>NICKNAME FIELD MUST NOT BE EMPTY</div>
            <div class="texts" *ngIf='form.get("nickname").errors.pattern'>NICKNAME FIELD MUST FOLLOW PATTERN</div>
        </div>
        <label>
      Phone Number:
      <input class=".input" type="tel" formControlName="phoneNum" />
    </label>
        <div *ngIf='form.get("phoneNum").invalid && form.get("phoneNum").touched'>
            <div class="texts" *ngIf='form.get("phoneNum").errors.required'>NUMBER FIELD MUST NOT BE EMPTY</div>
            <div class="texts" *ngIf='form.get("phoneNum").errors.pattern'>NUMBER FIELD MUST FOLLOW PATTERN</div>
        </div>
        <label>
      Website:
      <input class=".input" type="url" formControlName="web" />
    </label>
        <div *ngIf='form.get("web").invalid && form.get("web").touched'>
            <div class="texts" *ngIf='form.get("web").errors.required'>WEBSITE FIELD MUST NOT BE EMPTY</div>
            <div class="texts" *ngIf='form.get("web").errors.pattern'>WEBSITE FIELD MUST FOLLOW PATTERN</div>
        </div>
        <label>
        
      <input type="checkbox" formControlName="terms" />Accept Terms & Conditions
    </label>

        <button class="button" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </form>
</div>
<fieldset class="userList">
    <legend class="text-style">User List</legend>
    <div class="users" *ngFor='let user of users; let i = index;'>
        <div class="information">
            <div class="text-style">E-mail: {{user.email}}</div>
            <div class="text-style">Nickname: {{user.nickname}}</div>
            <div class="text-style">Number: {{user.phoneNum}}</div>
            <div class="text-style">Website: {{user.web}}</div>
        </div>

        <div class="buttons">
            <button class="button" (click)='edit(i)'>Edit</button>
            <button class="button red" (click)='delete(i)'>Delete</button>
        </div>

    </div>

</fieldset>