<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
        <tr *ngFor="let emp of empsOnPage; let i=index">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.salary}}</td>
        </tr>
    </table>

    <div class="buttons">
        <button *ngFor="let page of pages; let i=index;" (click)="changePage(i)">{{i+1}}</button>
    </div>
</div>